extends ../layout/layout

block content
    if isOk  
        .row
            .col12
               table.table.table-bordered.border-primary 
                    //table.table.table-dark
                    thead
                        tr
                            each item in tHead
                                th= item
                            //
                                <th>Categoría</th>
                                <th>Nombre del Producto</th>
                                <th>Cantidad</th>
                                <th>Código</th>
                                <th>Precio</th>
                    tbody#tbody
                        each item in tBody  
                            tr
                                - let _id = ''
                                each val, key in item
                                    if key == "_id"
                                        - _id = val
                                    if key == 'ultimo'
                                        td 
                                            button.btn.btn-success#showActualizar(type='button' data-bs-toggle='modal' data-bs-target='#actualizarModal' onclick="changeIdActualizar('"+ _id +"', '"+nombreTabla+"')" )
                                                |Actualizar
                                            
                                        td
                                            button.btn.btn-danger(type='submit') 
                                                |Eliminar
                                            
                                    else   
                                        td=val 


