.enlace
    i.bi.bi-house-fill
    a( onclick="accederDashboard()") Inicio 


.enlace
    i.bi.bi-cart-fill
    a(onclick="accederProducto()") Producto
    //- button.btn.btn-success(type='button'   onclick="accederProducto()" )


.enlace
    i.bi.bi-clock-history
    span Historial
.enlace
    i.bi.bi-filetype-pdf
    a(href='/pdf') Reporte
.enlace
    i.bi.bi-person-circle
    a(onclick="accedercategoria()") Categoria
//.enlace 
    i.bi.bi-box-arrow-in-left
    button.btn.btn-success(type='button'   onclick="cerrarSesion()" )
